article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  letter-spacing: 1px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.master {
  background: #3E78B2;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  width: 100%;
}

.chatWindow {
  height: 350px;
  width: 70%;
  overflow-y: scroll;
  background: #484c50;
  font-size: 2rem;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  border: 4px solid black;
  border-bottom: none;
}

.chatWindow .messageMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #484c50;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: white;
}

.chatWindow .username {
  padding-left: 10px;
}

.chatWindow .message {
  padding: 0 10px;
}

.chatWindow .date {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1.5rem;
}

.chatWindow .windowBottom {
  visibility: hidden;
}

.usernameForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Chrome/Opera/Safari */
  /* Firefox 19+ */
  /* IE 10+ */
  /* Firefox 18- */
}

.usernameForm .channelIndicator {
  font-size: 2rem;
  margin: 10px;
  color: white;
  font-weight: bold;
}

.usernameForm label {
  font-size: 2rem;
  position: relative;
  top: -50px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}

.usernameForm input {
  font-size: 2rem;
  padding: 20px 0px 5px 6px;
  border: 4px solid black;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #484c50;
}

.usernameForm input:focus + label {
  top: -80px;
}

.usernameForm .colorPicker {
  border: 4px solid black;
  border-radius: 10px;
  margin: 2px;
}

.usernameForm ::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.usernameForm ::-moz-placeholder {
  color: white;
  opacity: 0.5;
}

.usernameForm :-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.usernameForm :-moz-placeholder {
  color: white;
  opacity: 0.5;
}

.messageForm {
  width: 70%;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messageForm input {
  width: 85%;
  font-size: 2rem;
  border-radius: 0 0 0 10px;
  border: 4px solid black;
  border-right: none;
  padding-left: 5px;
}

.messageForm button {
  width: 15%;
  margin: 0;
  padding: 0;
  border-radius: 0 0 10px 0;
  font-size: 2rem;
  border: 4px solid black;
  font-weight: bold;
}

h1 {
  background: #3E78B2;
  text-align: center;
  margin: 0;
  padding: 25px;
  font-size: 7rem;
  color: white;
  font-family: Rocko;
  text-shadow: 4px 4px black;
}

h2 {
  color: white;
  background: #3E78B2;
  text-align: center;
  margin: 0;
  padding: 8px;
  font-size: 1.5rem;
}

.channelChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.channelChange {
  position: absolute;
  right: 0;
}

.channelChange button {
  margin: 10px 30px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 4px solid black;
}

@media (max-width: 1050px) {
  .channelChange {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 900px) {
  .chatWindow {
    width: 90%;
  }
  .messageForm {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .channelChange button {
    margin: 10px 5px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 50%;
  }
  .chatWindow {
    width: 100%;
  }
  .messageForm {
    width: 100%;
  }
  .usernameForm label {
    top: -45px;
  }
  .usernameForm input:focus + label {
    top: -70px;
  }
  .messageForm button {
    width: 20%;
  }
  .messageForm input {
    width: 80%;
  }
}

@media (max-width: 455px) {
  .channelChange button {
    margin: 5px 2px;
    padding: 5px;
  }
}

@media (max-width: 355px) {
  html {
    font-size: 45%;
  }
  .channelChange button {
    margin: 5px 0;
    padding: 5px;
  }
}
