html {
    font-size: 62.5%;
    letter-spacing: 1px;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
.master {
    background: $secondaryColor;
}

// only use with channel buttons
.main {
    display: flex;
}

main {
    width: 100%;
}

aside {
    margin: 0px 40px;

    button {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
    }
}