html {
    font-size: 62.5%;
    letter-spacing: 1px;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
.master {
    background: $secondaryColor;
}

// input {
//     background: rgb(77, 77, 77);
// }

// ::-webkit-input-placeholder {
//     color: rgba(255, 255, 255, 0.5);
// }