.usernameForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        font-size: 2rem;
        position: relative;
        top: -50px;
        left: -33px;
        font-weight: bold;
        transition: 0.5s;
        text-transform: uppercase;
    }

    input {
        font-size: 2rem;
        padding: 20px 0px 5px 5px;
        border: 4px solid black;
        border-radius: 10px;
    }

    input:focus + label {
        top: -80px;
    }

    .colorPicker {
        border: 4px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}