.usernameForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .channelIndicator {
        font-size: 2rem;
        margin: 10px;
        color: $accentColor;
        font-weight: bold;
    }

    label {
        font-size: 2rem;
        position: relative;
        top: -50px;
        font-weight: bold;
        transition: 0.3s;
        text-transform: uppercase;
    }

    input {
        font-size: 2rem;
        padding: 20px 0px 5px 6px;
        border: 4px solid $borderColor;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        background: $primaryColor;
    }

    input:focus + label {
        top: -80px;
    }

    .colorPicker {
        border: 4px solid $borderColor;
        border-radius: 10px;
        margin: 2px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $accentColor;
        opacity: 0.5;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $accentColor;
        opacity: 0.5;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $accentColor;
        opacity: 0.5;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $accentColor;
        opacity: 0.5;
    }
}