.chatWindow {
    width: 600px;
    height: 300px;
    border: 2px solid red;
    overflow-y: scroll;
}

form {
    padding: 20px;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}